.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    font-family: 'Mulish', sans-serif;
}
.card{
    width: 325px;
    height: 275px;
    perspective: 800px;
    /* border annimation  */
    border: 10px solid ;
    
    border-image: linear-gradient(#f18137,#af24dd)3;
    animation: anim-border 2.5s infinite ease-in ;

}
@keyframes anim-border {
    50%{
        border-image: linear-gradient(360deg,#f18137, #af24dd)3;
    }
}
/* border annimation */
.card__image--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
 
    
}
.card__image{
    border: 4px solid white;
    border-radius: 20px;
}

.card__inner{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;

}
.card__body--flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__title{
    margin: 0 15px 0 0;
    text-transform: uppercase;
}
.card:hover .card__inner{
    transform: rotateY(-180deg);
    
}
.card__side{
    position: absolute;
    inset: 0;
    background-color: #fff;
    display: grid;
    grid-template-rows: 180px 1fr;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.card__side--back{
    font-weight: 900;
    word-break: break-all;
    letter-spacing: 1px;
    font-size: 14px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    text-transform: capitalize;
}
.card__description{
    font-weight: bold;
    text-transform: uppercase;
}
.card:hover .card__side--back{
    backface-visibility: visible;
}